.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#mood{
  padding: 10%;
}
.submit{
  display: flex;
  justify-content: center;
  padding: 1%;
}
.random-button{
  font-family: Neucha;
  display: flex;
  justify-content: center;
  padding: 1%;

}
.choose{
  text-align: center;
}
.dropdown-label{
  font-size: 40px;
  padding: 10%;
}

.main {
  padding-bottom: 10%;
}

.quote {
  font-family: Neucha;
  font-size: 40px;
  text-align: center;
  padding: 5%;
}


.gifURL {
    margin: auto;
    width: 100%;
    padding: 10%;
    margin-bottom: 10%;
}
