.navbar {
	display: flex;
	justify-content: center;
	background-image: url("../img/logo.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 150px;
}

footer {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: right;
	height: 45px;
	bottom: 0px;
	position: fixed;
	background-color: #ee6e73;
	font-family: 'Courier New', sans-serif, serif;
}

.footerText {
	width: 85vw;
	text-align: left;
	vertical-align: center;
	font-size: 0.6em;
	margin-left: 2vw;
	margin-top: 8px;
	padding-right: 30vw;
}

.roxyGif {
	width: 4%;
	height: 56px;
	background-image: url("../img/Roxy.gif");
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 50%;
	margin-top: 4px;
}

.savGif {
	width: 4%;
	height: 56px;
	background-image: url("../img/Savannah.gif");
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 50%;
	margin-top: 4px;
}

.dannyGif {
	width: 4%;
	height: 56px;
	background-image: url("../img/Danny.gif");
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 50%;
	margin-top: 4px;
}

.footerText a{
	text-decoration: none;
	color: #2BBBAD;
}